# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE/editor settings
.vscode/
.idea/
*.suo
*.user
*.swp

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3
*.db
pokeinfo.db

# Raw data output
json/raw


# Jupyter notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

.venv
.trash
json/
